# AUTHELIA
AUTHELIA_SESSION_SECRET_FILE=/secrets/session_secret
AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET_FILE=/secrets/jwt_secret
AUTHELIA_STORAGE_ENCRYPTION_KEY_FILE=/secrets/storage_key
AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD_FILE=/secrets/lldap_admin_password
AUTHELIA_SESSION_REDIS_PASSWORD_FILE=/secrets/redis_password
AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE=/secrets/smtp_password

# REDIS
REDIS_PASSWORD_FILE=/secrets/redis_password

# LLDAP
LLDAP_JWT_SECRET_FILE=/secrets/lldap_jwt_secret
LLDAP_LDAP_USER_PASS_FILE=/secrets/lldap_admin_password
LLDAP_LDAP_BASE_DN=dc=domain,dc=com

# SIGNUP SERVICE
LDAP_URL=ldap://lldap:3890
LDAP_BASE_DN=dc=domain,dc=com
LDAP_USERS_DN=ou=people,dc=domain,dc=com
LDAP_ADMIN_DN=uid=admin,ou=people,dc=domain,dc=com
LDAP_ADMIN_PASSWORD_FILE=/secrets/lldap_admin_password
TELEGRAM_BOT_TOKEN_FILE=/secrets/telegram_bot_token
TELEGRAM_CHAT_ID_FILE=/secrets/telegram_chat_id